<a href="https://colab.research.google.com/github/Sibitenda/Masters_MIS/blob/main/Data%20Analysis%20and%20Visualisation/week1_foundations/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Example GitHub raw link — Replace with your actual URL
url = "https://raw.githubusercontent.com/Sibitenda/Masters_MIS/main/Data%20Analysis%20and%20Visualisation/Data/Salaries.csv"

# Load data
df = pd.read_csv(url)
print(df.head())

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
print(df.columns)

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

 Step 1: Using Functions

In [ ]:
def get_average_salary(df):
    return df['salary'].mean()

print(get_average_salary(df))

108023.78205128205

In [ ]:
def avg_salary_for_rank(df, rank):
    return df[df['rank'] == rank]['salary'].mean()

print(avg_salary_for_rank(df, 'Prof'))

123624.80434782608

In [ ]:
def count_females_by_discipline(df, discipline):
    return len(df[(df['discipline'] == discipline) & (df['sex'] == 'Female')])
print("Female faculty in discipline B:", count_females_by_discipline(df, 'B'))

Female faculty in discipline B: 21

In [ ]:
def average_salary_by_rank(df, rank):
    subset = df[df['rank'] == rank]
    if not subset.empty:
        return round(subset['salary'].mean(), 2)
    else:
        return f"No data for rank: {rank}"

# Example usage
print("Average salary for Professors:", average_salary_by_rank(df, 'Prof'))

Average salary for Professors: 123624.8

Step2. Using Loops

In [ ]:
# for loop — loop through rows in the dataset
# Print the first 5 salaries
for i in range(5):
    print("Salary:", df['salary'][i])

Salary: 186960
Salary: 93000
Salary: 110515
Salary: 131205
Salary: 104800

In [ ]:
for salary in df['salary']:
    if salary > 120000:
        print("High salary:", salary)

High salary: 186960
High salary: 131205
High salary: 122400
High salary: 126300
High salary: 128250
High salary: 134778
High salary: 162200
High salary: 153750
High salary: 150480
High salary: 150500
High salary: 148750
High salary: 155865
High salary: 123683
High salary: 155750
High salary: 126933
High salary: 146856
High salary: 129000
High salary: 137000
High salary: 151768
High salary: 140096
High salary: 122960
High salary: 127512
High salary: 144651
High salary: 161101
High salary: 124312

In [ ]:
# BONUS: Loop through rows and count how many earn more than 100k
count = 0
for salary in df['salary']:
    if salary > 100000:
        count += 1

print("People earning over 100k:", count)

People earning over 100k: 46

In [ ]:
# while loop — repeat while a condition is true
i = 0
while i < len(df):
    if df['salary'][i] > 120000:
        print("Salary:", df['salary'][i])
    i += 1

Salary: 186960
Salary: 131205
Salary: 122400
Salary: 126300
Salary: 128250
Salary: 134778
Salary: 162200
Salary: 153750
Salary: 150480
Salary: 150500
Salary: 148750
Salary: 155865
Salary: 123683
Salary: 155750
Salary: 126933
Salary: 146856
Salary: 129000
Salary: 137000
Salary: 151768
Salary: 140096
Salary: 122960
Salary: 127512
Salary: 144651
Salary: 161101
Salary: 124312

In [ ]:
#  Simulated do-while loop: Show at least one salary
print("Salaries until we find one > 150000 (simulating do-while):")

i = 0
while True:
    print("Salary:", df['salary'][i])
    if df['salary'][i] > 150000:
        break
    i += 1
    if i >= len(df):
        break

Salaries until we find one > 150000 (simulating do-while):
Salary: 186960

Step 3. LISTS (store many values)

In [ ]:
# List of all salaries
salary_list = list(df['salary'])
print(salary_list[:5])  # first 5 salaries

[186960, 93000, 110515, 131205, 104800]

In [ ]:
# List of all unique ranks
ranks = df['rank'].unique().tolist()
print(ranks)

['Prof', 'AssocProf', 'AsstProf']

In [ ]:
# List – All Unique Ranks and Disciplines
ranks = list(df['rank'].unique())
disciplines = list(df['discipline'].unique())

print("Ranks:", ranks)
print("Disciplines:", disciplines)

Ranks: ['Prof', 'AssocProf', 'AsstProf']
Disciplines: ['B', 'A']

Step 4: Using If Statement

In [ ]:
# Categorize Salary Level
def salary_level(salary):
    if salary < 90000:
        return 'Low'
    elif salary < 120000:
        return 'Medium'
    else:
        return 'High'

df['salary_level'] = df['salary'].apply(salary_level)
print(df[['rank', 'salary', 'salary_level']].head())

   rank  salary salary_level
0  Prof  186960         High
1  Prof   93000       Medium
2  Prof  110515       Medium
3  Prof  131205         High
4  Prof  104800       Medium

In [ ]:
# Check if salary is high
def is_high(salary):
    if salary > 120000:
        return True
    else:
        return False

print(is_high(130000))

True

In [ ]:
# Check if salary is high
def is_high(salary):
    if salary > 320000:
        return True
    else:
        return False

print(is_high(130000))

False

In [ ]:
# Tag salary level
def tag_level(salary):
    if salary < 90000:
        return 'Low'
    elif salary < 120000:
        return 'Medium'
    else:
        return 'High'

df['level'] = df['salary'].apply(tag_level)
print(df[['salary', 'level']].head())

   salary   level
0  186960    High
1   93000  Medium
2  110515  Medium
3  131205    High
4  104800  Medium

Step: 5. CLASSES (create your own object)

In [ ]:
# Define a teacher
class Teacher:
    def __init__(self, rank, salary):
        self.rank = rank
        self.salary = salary

    def show(self):
        print(f"{self.rank} earns {self.salary}")

t = Teacher("Prof", 150000)
t.show()

Prof earns 150000

In [ ]:
#  Basic FacultyMember Class
class FacultyMember:
    def __init__(self, name, rank, salary):
        self.name = name
        self.rank = rank
        self.salary = salary

    def describe(self):
        return f"{self.name} is a {self.rank} earning ${self.salary}"
# f = FacultyMember({name}, {rank}, {salary})
# print(f.describe())
# Create instances from the DataFrame
faculty_list = []

for idx, row in df.iterrows():
    name = f"Faculty_{idx}"  # since no name is in df, we generate one
    rank = row['rank']
    salary = row['salary']
    faculty = FacultyMember(name, rank, salary)
    faculty_list.append(faculty)

# Print descriptions
for f in faculty_list:
    print(f.describe())

Faculty_0 is a Prof earning $186960
Faculty_1 is a Prof earning $93000
Faculty_2 is a Prof earning $110515
Faculty_3 is a Prof earning $131205
Faculty_4 is a Prof earning $104800
Faculty_5 is a Prof earning $122400
Faculty_6 is a AssocProf earning $81285
Faculty_7 is a Prof earning $126300
Faculty_8 is a Prof earning $94350
Faculty_9 is a Prof earning $57800
Faculty_10 is a Prof earning $128250
Faculty_11 is a Prof earning $134778
Faculty_12 is a AsstProf earning $88000
Faculty_13 is a Prof earning $162200
Faculty_14 is a Prof earning $153750
Faculty_15 is a Prof earning $150480
Faculty_16 is a AsstProf earning $75044
Faculty_17 is a AsstProf earning $92000
Faculty_18 is a Prof earning $107300
Faculty_19 is a Prof earning $150500
Faculty_20 is a AsstProf earning $92000
Faculty_21 is a Prof earning $103106
Faculty_22 is a AsstProf earning $73000
Faculty_23 is a AsstProf earning $85000
Faculty_24 is a Prof earning $91100
Faculty_25 is a Prof earning $99418
Faculty_26 is a Prof earning $148750
Faculty_27 is a Prof earning $155865
Faculty_28 is a AsstProf earning $91300
Faculty_29 is a Prof earning $123683
Faculty_30 is a AssocProf earning $107008
Faculty_31 is a Prof earning $155750
Faculty_32 is a Prof earning $103275
Faculty_33 is a Prof earning $120000
Faculty_34 is a AssocProf earning $119800
Faculty_35 is a Prof earning $126933
Faculty_36 is a Prof earning $146856
Faculty_37 is a Prof earning $102000
Faculty_38 is a AsstProf earning $91000
Faculty_39 is a Prof earning $129000
Faculty_40 is a Prof earning $137000
Faculty_41 is a AssocProf earning $74830
Faculty_42 is a AsstProf earning $80225
Faculty_43 is a AsstProf earning $77000
Faculty_44 is a Prof earning $151768
Faculty_45 is a Prof earning $140096
Faculty_46 is a AsstProf earning $74692
Faculty_47 is a AssocProf earning $103613
Faculty_48 is a Prof earning $111512
Faculty_49 is a Prof earning $122960
Faculty_50 is a AsstProf earning $97032
Faculty_51 is a Prof earning $127512
Faculty_52 is a Prof earning $105000
Faculty_53 is a AsstProf earning $73500
Faculty_54 is a AssocProf earning $62884
Faculty_55 is a AsstProf earning $72500
Faculty_56 is a AssocProf earning $77500
Faculty_57 is a AsstProf earning $72500
Faculty_58 is a Prof earning $144651
Faculty_59 is a AssocProf earning $103994
Faculty_60 is a AsstProf earning $92000
Faculty_61 is a AssocProf earning $103750
Faculty_62 is a AssocProf earning $109650
Faculty_63 is a Prof earning $91000
Faculty_64 is a AssocProf earning $73300
Faculty_65 is a Prof earning $117555
Faculty_66 is a AsstProf earning $63100
Faculty_67 is a Prof earning $90450
Faculty_68 is a AsstProf earning $77500
Faculty_69 is a Prof earning $116450
Faculty_70 is a AsstProf earning $78500
Faculty_71 is a AssocProf earning $71065
Faculty_72 is a Prof earning $161101
Faculty_73 is a Prof earning $105450
Faculty_74 is a AssocProf earning $104542
Faculty_75 is a Prof earning $124312
Faculty_76 is a Prof earning $109954
Faculty_77 is a Prof earning $109646

In [ ]:
class FacultyMember:
    def __init__(self, rank, discipline, phd, service, sex, salary):
        self.rank = rank
        self.discipline = discipline
        self.phd = phd
        self.service = service
        self.sex = sex
        self.salary = salary

    def info(self):
        return f"{self.sex} {self.rank} in {self.discipline} earns ${self.salary}"

    def is_senior(self):
        return self.service >= 20

# Example usage
member = FacultyMember("Prof", "B", 25, 22, "Male", 145000)
print(member.info())
print("Senior faculty?", member.is_senior())

Male Prof in B earns $145000
Senior faculty? True

In [ ]:
df.head()

   rank discipline  phd  service   sex  salary salary_level   level
0  Prof          B   56       49  Male  186960         High    High
1  Prof          A   12        6  Male   93000       Medium  Medium
2  Prof          A   23       20  Male  110515       Medium  Medium
3  Prof          A   40       31  Male  131205         High    High
4  Prof          B   20       18  Male  104800       Medium  Medium

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary', 'salary_level',
       'level'],
      dtype='object')

In [ ]:
# Check if experienced
class Teacher:
    def __init__(self, service):
        self.service = service

    def is_experienced(self):
        return self.service > 15

t = Teacher(40)
g = Teacher(2)
print(t.is_experienced())
print(g.is_experienced())

True
False

In [ ]:
# df