<a href="https://colab.research.google.com/github/Sibitenda/Masters_MIS/blob/main/Data%20Analysis%20and%20Visualisation/week1_foundations/R_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Run this in a code cell in Colab
!apt-get install -y r-base
%load_ext rpy2.ipython

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
r-base is already the newest version (4.5.1-1.2204.0).
0 upgraded, 0 newly installed, 0 to remove and 35 not upgraded.

In [3]:
%%R
x <- c(1, 2, 3, 4, 5)
mean(x)

[1] 3

In [6]:
# This is an R cell
# summary(cars)
# install.packages("readr", repos = "http://cran.us.r-project.org")
%%R
install.packages(c("readr", "readxl", "jsonlite", "httr", "tidyverse"), repos = "http://cran.us.r-project.org")

Installing packages into ‚Äò/usr/local/lib/R/site-library‚Äô
(as ‚Äòlib‚Äô is unspecified)
trying URL 'http://cran.us.r-project.org/src/contrib/readr_2.1.5.tar.gz'
trying URL 'http://cran.us.r-project.org/src/contrib/readxl_1.4.5.tar.gz'
trying URL 'http://cran.us.r-project.org/src/contrib/jsonlite_2.0.0.tar.gz'
trying URL 'http://cran.us.r-project.org/src/contrib/httr_1.4.7.tar.gz'
trying URL 'http://cran.us.r-project.org/src/contrib/tidyverse_2.0.0.tar.gz'

The downloaded source packages are in
	‚Äò/tmp/RtmpJf5sOR/downloaded_packages‚Äô

In [7]:
%%R
library(readr)
library(readxl)
library(jsonlite)
library(httr)
library(tidyverse)

‚îÄ‚îÄ Attaching core tidyverse packages ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ tidyverse 2.0.0 ‚îÄ‚îÄ
‚úî dplyr     1.1.4     ‚úî purrr     1.1.0
‚úî forcats   1.0.0     ‚úî stringr   1.5.1
‚úî ggplot2   3.5.2     ‚úî tibble    3.3.0
‚úî lubridate 1.9.4     ‚úî tidyr     1.3.1
‚îÄ‚îÄ Conflicts ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ tidyverse_conflicts() ‚îÄ‚îÄ
‚úñ dplyr::filter()  masks stats::filter()
‚úñ purrr::flatten() masks jsonlite::flatten()
‚úñ dplyr::lag()     masks stats::lag()
‚Ñπ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [11]:
%%R
url <- "https://raw.githubusercontent.com/Sibitenda/Masters_MIS/main/Data%20Analysis%20and%20Visualisation/Data/Salaries.csv"

# Read the CSV
df <- read_csv(url)
df <- tryCatch(
  read_csv(url),
  error = function(e) {
    message("Warning: skipping bad lines")
    read_csv(url, skip = 1)  # or try skip = 0, 1, 2 depending on issue
  }
)
head(df)     # Shows first few rows in console

Rows: 78 Columns: 6
‚îÄ‚îÄ Column specification ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
Delimiter: ","
chr (3): rank, discipline, sex
dbl (3): phd, service, salary

‚Ñπ Use `spec()` to retrieve the full column specification for this data.
‚Ñπ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 78 Columns: 6
‚îÄ‚îÄ Column specification ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
Delimiter: ","
chr (3): rank, discipline, sex
dbl (3): phd, service, salary

‚Ñπ Use `spec()` to retrieve the full column specification for this data.
‚Ñπ Specify the column types or set `show_col_types = FALSE` to quiet this message.
# A tibble: 6 √ó 6
  rank  discipline   phd service sex   salary
  <chr> <chr>      <dbl>   <dbl> <chr>  <dbl>
1 Prof  B             56      49 Male  186960
2 Prof  A             12       6 Male   93000
3 Prof  A             23      20 Male  110515
4 Prof  A             40      31 Male  131205
5 Prof  B             20      18 Male  104800
6 Prof  A             20      20 Male  122400

In [12]:
# %%R
# Check the type of the 'salary' column
%%R
typeof(df$salary)       # Base R: tells the storage type (e.g., "double", "character")

class(df$salary)        # Gives the R class of the column (e.g., "numeric", "factor")

str(df$salary)          # Structure summary of the column

 num [1:78] 186960 93000 110515 131205 104800 ...

In [14]:
%%R
install.packages("dplyr")  # Run once if not already installed
library(dplyr)

glimpse(df)

Rows: 78
Columns: 6
$ rank       <chr> "Prof", "Prof", "Prof", "Prof", "Prof", "Prof", "AssocProf"‚Ä¶
$ discipline <chr> "B", "A", "A", "A", "B", "A", "A", "A", "A", "A", "B", "B",‚Ä¶
$ phd        <dbl> 56, 12, 23, 40, 20, 20, 20, 18, 29, 51, 39, 23, 1, 35, 25, ‚Ä¶
$ service    <dbl> 49, 6, 20, 31, 18, 20, 17, 18, 19, 51, 33, 23, 0, 33, 19, 3‚Ä¶
$ sex        <chr> "Male", "Male", "Male", "Male", "Male", "Male", "Male", "Ma‚Ä¶
$ salary     <dbl> 186960, 93000, 110515, 131205, 104800, 122400, 81285, 12630‚Ä¶

Installing package into ‚Äò/usr/local/lib/R/site-library‚Äô
(as ‚Äòlib‚Äô is unspecified)
trying URL 'https://cran.rstudio.com/src/contrib/dplyr_1.1.4.tar.gz'
Content type 'application/x-gzip' length 1207521 bytes (1.2 MB)
==================================================
downloaded 1.2 MB


The downloaded source packages are in
	‚Äò/tmp/RtmpJf5sOR/downloaded_packages‚Äô

# üîç DATA ANALYSIS PRACTICE IN R ----------------------------------

# Dataset: Salaries.csv (assumed already loaded as df)

# 1. Try to read the first 10, 20, 50 records:
head(df, 10)
head(df, 20)
head(df, 50)

# 2. Can you guess how to view the last few records?
# Try this:
tail(df)         # Default is last 6 rows
tail(df, 10)     # Last 10 rows

# 3. Find how many records this data frame has:
nrow(df)         # Number of rows

# 4. How many elements are there?
length(df)       # Number of columns
length(unlist(df)) # Total number of individual elements

# 5. What are the column names?
colnames(df)

# 6. What types of columns we have in this data frame?
sapply(df, class)

# 7. Give the summary for the numeric columns in the dataset:
summary(df)

# 8. Calculate standard deviation for all numeric columns:
sapply(df, function(x) if(is.numeric(x)) sd(x, na.rm = TRUE))

# 9. What are the mean values of the first 50 records?
# Hint: use head() to subset, then apply mean
df_head50 <- head(df, 50)
sapply(df_head50, function(x) if(is.numeric(x)) mean(x, na.rm = TRUE))

# 10. Calculate the basic statistics for the salary column:
summary(df$salary)
sd(df$salary, na.rm = TRUE)
mean(df$salary, na.rm = TRUE)

# 11. Find how many values are in the salary column:
length(df$salary)

# 12. Calculate the average salary:
mean(df$salary, na.rm = TRUE)

# ---------------------------------------------------------------

In [16]:
%%R
# Group the data by the 'rank' column
df_rank <- df %>% group_by(rank)

# View grouped data structure (this doesn't compute aggregates yet)
df_rank

# A tibble: 78 √ó 6
# Groups:   rank [3]
   rank      discipline   phd service sex   salary
   <chr>     <chr>      <dbl>   <dbl> <chr>  <dbl>
 1 Prof      B             56      49 Male  186960
 2 Prof      A             12       6 Male   93000
 3 Prof      A             23      20 Male  110515
 4 Prof      A             40      31 Male  131205
 5 Prof      B             20      18 Male  104800
 6 Prof      A             20      20 Male  122400
 7 AssocProf A             20      17 Male   81285
 8 Prof      A             18      18 Male  126300
 9 Prof      A             29      19 Male   94350
10 Prof      A             51      51 Male   57800
# ‚Ñπ 68 more rows
# ‚Ñπ Use `print(n = ...)` to see more rows

In [17]:
%%R
# Example: Mean salary per rank
df %>%
  group_by(rank) %>%
  summarise(
    avg_salary = mean(salary, na.rm = TRUE),
    count = n()
  )

# A tibble: 3 √ó 3
  rank      avg_salary count
  <chr>          <dbl> <int>
1 AssocProf     91786.    13
2 AsstProf      81363.    19
3 Prof         123625.    46

In [19]:
%%R
library(dplyr)

df %>%
  group_by(rank) %>%
  summarise(across(where(is.numeric), ~ mean(.x, na.rm = TRUE)))

# A tibble: 3 √ó 4
  rank        phd service  salary
  <chr>     <dbl>   <dbl>   <dbl>
1 AssocProf 15.1    11.3   91786.
2 AsstProf   5.05    2.21  81363.
3 Prof      27.1    21.4  123625.

What this does:

group_by(rank): Groups the data by the rank column

summarise(across(...)): Summarizes each numeric column

where(is.numeric): Applies only to numeric columns

mean(.x, na.rm = TRUE): Calculates mean, skipping NAs

In [20]:
%%R

df %>%
  group_by(rank) %>%
  summarise(mean_salary = mean(salary, na.rm = TRUE))

# A tibble: 3 √ó 2
  rank      mean_salary
  <chr>           <dbl>
1 AssocProf      91786.
2 AsstProf       81363.
3 Prof          123625.

Explanation

- group_by(rank): Groups data by the rank column

- summarise(mean_salary = ...): Computes the mean of the salary column

- na.rm = TRUE: Skips any missing values

In [21]:
%%R

df %>%
  group_by(rank) %>%
  summarise(mean_salary = mean(salary, na.rm = TRUE)) %>%
  arrange(match(rank, unique(df$rank)))

# A tibble: 3 √ó 2
  rank      mean_salary
  <chr>           <dbl>
1 Prof          123625.
2 AssocProf      91786.
3 AsstProf       81363.

- group_by(rank): Group by the rank column

- summarise(...): Compute mean salary

- arrange(match(...)): Reorders the result to match the original order of rank values in df

R automatically sorts groups alphabetically, so arrange(match(...)) is needed to suppress that ‚Äî similar to sort=False in pandas.

In [22]:
%%R
df_sub <- df %>% filter(salary > 120000)
df_sub

# A tibble: 25 √ó 6
   rank  discipline   phd service sex   salary
   <chr> <chr>      <dbl>   <dbl> <chr>  <dbl>
 1 Prof  B             56      49 Male  186960
 2 Prof  A             40      31 Male  131205
 3 Prof  A             20      20 Male  122400
 4 Prof  A             18      18 Male  126300
 5 Prof  B             39      33 Male  128250
 6 Prof  B             23      23 Male  134778
 7 Prof  B             35      33 Male  162200
 8 Prof  B             25      19 Male  153750
 9 Prof  B             17       3 Male  150480
10 Prof  A             29      27 Male  150500
# ‚Ñπ 15 more rows
# ‚Ñπ Use `print(n = ...)` to see more rows

In [24]:
%%R
#Select column Sex for females only:
df_f <- df %>% filter(sex == "Female")
df_f

# A tibble: 39 √ó 6
   rank      discipline   phd service sex    salary
   <chr>     <chr>      <dbl>   <dbl> <chr>   <dbl>
 1 Prof      B             18      18 Female 129000
 2 Prof      A             39      36 Female 137000
 3 AssocProf A             13       8 Female  74830
 4 AsstProf  B              4       2 Female  80225
 5 AsstProf  B              5       0 Female  77000
 6 Prof      B             23      19 Female 151768
 7 Prof      B             25      25 Female 140096
 8 AsstProf  B             11       3 Female  74692
 9 AssocProf B             11      11 Female 103613
10 Prof      B             17      17 Female 111512
# ‚Ñπ 29 more rows
# ‚Ñπ Use `print(n = ...)` to see more rows

In [27]:
%%R
df1 <- df %>% select(rank, salary)
df1

# A tibble: 78 √ó 2
   rank      salary
   <chr>      <dbl>
 1 Prof      186960
 2 Prof       93000
 3 Prof      110515
 4 Prof      131205
 5 Prof      104800
 6 Prof      122400
 7 AssocProf  81285
 8 Prof      126300
 9 Prof       94350
10 Prof       57800
# ‚Ñπ 68 more rows
# ‚Ñπ Use `print(n = ...)` to see more rows

In [30]:
%%R
df[10:20, ]

# A tibble: 11 √ó 6
   rank     discipline   phd service sex   salary
   <chr>    <chr>      <dbl>   <dbl> <chr>  <dbl>
 1 Prof     A             51      51 Male   57800
 2 Prof     B             39      33 Male  128250
 3 Prof     B             23      23 Male  134778
 4 AsstProf B              1       0 Male   88000
 5 Prof     B             35      33 Male  162200
 6 Prof     B             25      19 Male  153750
 7 Prof     B             17       3 Male  150480
 8 AsstProf B              8       3 Male   75044
 9 AsstProf B              4       0 Male   92000
10 Prof     A             19       7 Male  107300
11 Prof     A             29      27 Male  150500

In [32]:
%%R
df %>% slice(10:20)

# A tibble: 11 √ó 6
   rank     discipline   phd service sex   salary
   <chr>    <chr>      <dbl>   <dbl> <chr>  <dbl>
 1 Prof     A             51      51 Male   57800
 2 Prof     B             39      33 Male  128250
 3 Prof     B             23      23 Male  134778
 4 AsstProf B              1       0 Male   88000
 5 Prof     B             35      33 Male  162200
 6 Prof     B             25      19 Male  153750
 7 Prof     B             17       3 Male  150480
 8 AsstProf B              8       3 Male   75044
 9 AsstProf B              4       0 Male   92000
10 Prof     A             19       7 Male  107300
11 Prof     A             29      27 Male  150500

In [33]:
%%R
df %>%
  slice(10:20) %>%
  select(rank, salary)

# A tibble: 11 √ó 2
   rank     salary
   <chr>     <dbl>
 1 Prof      57800
 2 Prof     128250
 3 Prof     134778
 4 AsstProf  88000
 5 Prof     162200
 6 Prof     153750
 7 Prof     150480
 8 AsstProf  75044
 9 AsstProf  92000
10 Prof     107300
11 Prof     150500

In [36]:
%%R
# First row of a data frame

df %>% slice(1)

# A tibble: 77 √ó 6
   rank      discipline   phd service sex   salary
   <chr>     <chr>      <dbl>   <dbl> <chr>  <dbl>
 1 Prof      A             12       6 Male   93000
 2 Prof      A             23      20 Male  110515
 3 Prof      A             40      31 Male  131205
 4 Prof      B             20      18 Male  104800
 5 Prof      A             20      20 Male  122400
 6 AssocProf A             20      17 Male   81285
 7 Prof      A             18      18 Male  126300
 8 Prof      A             29      19 Male   94350
 9 Prof      A             51      51 Male   57800
10 Prof      B             39      33 Male  128250
# ‚Ñπ 67 more rows
# ‚Ñπ Use `print(n = ...)` to see more rows

In [35]:
%%R
#(i+1)th row
i = 0
df %>% slice(i+1)

# A tibble: 1 √ó 6
  rank  discipline   phd service sex   salary
  <chr> <chr>      <dbl>   <dbl> <chr>  <dbl>
1 Prof  B             56      49 Male  186960

In [37]:
%%R
# Last row
df %>% slice(n())

# A tibble: 1 √ó 6
  rank  discipline   phd service sex    salary
  <chr> <chr>      <dbl>   <dbl> <chr>   <dbl>
1 Prof  A             23      15 Female 109646

In [39]:
%%R
# First column
# df %>% select(1) #this works well too
df[, 1]

# A tibble: 78 √ó 1
   rank
   <chr>
 1 Prof
 2 Prof
 3 Prof
 4 Prof
 5 Prof
 6 Prof
 7 AssocProf
 8 Prof
 9 Prof
10 Prof
# ‚Ñπ 68 more rows
# ‚Ñπ Use `print(n = ...)` to see more rows

In [43]:
%%R
# Last column
#df %>% select(last_col()) #this works well too

df[, ncol(df)]

# A tibble: 78 √ó 1
   salary
    <dbl>
 1 186960
 2  93000
 3 110515
 4 131205
 5 104800
 6 122400
 7  81285
 8 126300
 9  94350
10  57800
# ‚Ñπ 68 more rows
# ‚Ñπ Use `print(n = ...)` to see more rows

In [44]:
%%R
# firts 7 rows
df %>% slice(1:7)

# A tibble: 7 √ó 6
  rank      discipline   phd service sex   salary
  <chr>     <chr>      <dbl>   <dbl> <chr>  <dbl>
1 Prof      B             56      49 Male  186960
2 Prof      A             12       6 Male   93000
3 Prof      A             23      20 Male  110515
4 Prof      A             40      31 Male  131205
5 Prof      B             20      18 Male  104800
6 Prof      A             20      20 Male  122400
7 AssocProf A             20      17 Male   81285

In [45]:
%%R
# first two columns
df %>% select(1:2)

# A tibble: 78 √ó 2
   rank      discipline
   <chr>     <chr>
 1 Prof      B
 2 Prof      A
 3 Prof      A
 4 Prof      A
 5 Prof      B
 6 Prof      A
 7 AssocProf A
 8 Prof      A
 9 Prof      A
10 Prof      A
# ‚Ñπ 68 more rows
# ‚Ñπ Use `print(n = ...)` to see more rows

In [46]:
%%R
# #Second through third rows and first 2 columns
df %>%
  slice(2:3) %>%
  select(1:2)

# A tibble: 2 √ó 2
  rank  discipline
  <chr> <chr>
1 Prof  A
2 Prof  A

In [47]:
%%R
## Create a new data frame from the original sorted by the column Salary
df_sorted <- df %>%
  arrange(service)

head(df_sorted)

# A tibble: 6 √ó 6
  rank     discipline   phd service sex    salary
  <chr>    <chr>      <dbl>   <dbl> <chr>   <dbl>
1 AsstProf B              1       0 Male    88000
2 AsstProf B              4       0 Male    92000
3 AsstProf A              2       0 Male    85000
4 AsstProf B              5       0 Female  77000
5 Prof     A             12       0 Female 105000
6 AsstProf A              2       0 Female  72500